Repository MedChahb/Okey: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker-ci, docker-api, docker-server, docker-db-init, docker-website, unity-linux-test, unity-mac-test, unity-windows-test, unity-linux-local-test, unity-mac-local-test, unity-windows-local-test, unity-linux-release, unity-mac-release, unity-windows-release

Path conditions:
  docker-ci: any of: docker/CICD.Dockerfile, requirements.txt, .config/dotnet-tools.json
  docker-api: any of: docker/OkeyApi.Dockerfile, server/OkeyApi/**/*.cs, server/OkeyApi/appsettings*.json, server/OkeyApi/**/launchSettings.json, server/OkeyApi/*.csproj, server/OkeyApi/*.sln
  docker-server: any of: docker/OkeyServer.Dockerfile, server/OkeyServer/**/*.cs, server/OkeyServer/*.csproj, server/OkeyServer/*.sln
  docker-db-init: any of: docker/DB-Init.Dockerfile, server/OkeyApi/**/*.cs, server/OkeyApi/appsettings*.json, server/OkeyApi/**/launchSettings.json, server/OkeyApi/*.csproj, server/OkeyApi/*.sln
  docker-website: any of: docker/OkeyWebsite.Dockerfile, server/okeywebsite/new_app/**/*
  unity-linux-test: any of: client/OkeyClient/**/*
  unity-mac-test: any of: client/OkeyClient/**/*
  unity-windows-test: any of: client/OkeyClient/**/*
  unity-linux-local-test: any of: client/OkeyClient/**/*
  unity-mac-local-test: any of: client/OkeyClient/**/*
  unity-windows-local-test: any of: client/OkeyClient/**/*
  unity-linux-release: any of: client/OkeyClient/**/*
  unity-mac-release: any of: client/OkeyClient/**/*
  unity-windows-release: any of: client/OkeyClient/**/*

Affichage des emotes + ajout des listeners de boutons dans le C#
  client/OkeyClient/Assets/Code/Scripts/Plateau/Plateau2.cs
  client/OkeyClient/Assets/Level/Scenes/PlateauInit.unity
Due: unity-linux-test, unity-mac-test, unity-windows-test, unity-linux-local-test, unity-mac-local-test, unity-windows-local-test, unity-linux-release, unity-mac-release, unity-windows-release

Réduction de la taille des emotes à afficher.
  client/OkeyClient/Assets/Level/Scenes/PlateauInit.unity
Due: unity-linux-test, unity-mac-test, unity-windows-test, unity-linux-local-test, unity-mac-local-test, unity-windows-local-test, unity-linux-release, unity-mac-release, unity-windows-release

Résolution de l'erreur des menus de partie
  client/OkeyClient/Assets/Code/Scripts/Plateau/Plateau2.cs
  client/OkeyClient/Assets/Level/Scenes/PlateauInit.unity
Due: unity-linux-test, unity-mac-test, unity-windows-test, unity-linux-local-test, unity-mac-local-test, unity-windows-local-test, unity-linux-release, unity-mac-release, unity-windows-release

Légères retouches, plateau entièrement fonctionnel.
  client/OkeyClient/Assets/Code/Scripts/Plateau/Plateau2.cs
  client/OkeyClient/Assets/Level/Scenes/PlateauInit.unity
Due: unity-linux-test, unity-mac-test, unity-windows-test, unity-linux-local-test, unity-mac-local-test, unity-windows-local-test, unity-linux-release, unity-mac-release, unity-windows-release

Ajout d'une coroutine pour la màj de la vue lors de la connexion
  client/OkeyClient/Assets/Code/Scripts/PageAccueil/UIManagerPAcceuil.cs
Due: unity-linux-test, unity-mac-test, unity-windows-test, unity-linux-local-test, unity-mac-local-test, unity-windows-local-test, unity-linux-release, unity-mac-release, unity-windows-release

Réduction du temps d'appel à la coroutine.
  client/OkeyClient/Assets/Code/Scripts/PageAccueil/UIManagerPAcceuil.cs
Due: unity-linux-test, unity-mac-test, unity-windows-test, unity-linux-local-test, unity-mac-local-test, unity-windows-local-test, unity-linux-release, unity-mac-release, unity-windows-release

Corrections d'erreurs sur le ClassementPanel.
  client/OkeyClient/Assets/Level/Prefabs/PlayerEntry.prefab
  client/OkeyClient/Assets/Level/Scenes/Acceuil.unity
Due: unity-linux-test, unity-mac-test, unity-windows-test, unity-linux-local-test, unity-mac-local-test, unity-windows-local-test, unity-linux-release, unity-mac-release, unity-windows-release

Modification du splash screen pour utiliser le logo.
  client/OkeyClient/Assets/Art/UIAssets/BackgroundImages/SplashScreenLogo3.png
  client/OkeyClient/Assets/Art/UIAssets/BackgroundImages/SplashScreenLogo3.png.meta
  client/OkeyClient/Assets/Level/Scenes/Acceuil.unity
  client/OkeyClient/ProjectSettings/ProjectSettings.asset
Due: unity-linux-test, unity-mac-test, unity-windows-test, unity-linux-local-test, unity-mac-local-test, unity-windows-local-test, unity-linux-release, unity-mac-release, unity-windows-release

language fix
  client/OkeyClient/Assets/Code/Scripts/Plateau/Plateau2.cs
  client/OkeyClient/Assets/Code/Scripts/SelectionTypeJeu/UIManagerPFormulaire.cs
Due: unity-linux-test, unity-mac-test, unity-windows-test, unity-linux-local-test, unity-mac-local-test, unity-windows-local-test, unity-linux-release, unity-mac-release, unity-windows-release

language fix
  client/OkeyClient/Assets/Code/Scripts/Plateau/PlateauUIManager.cs
Due: unity-linux-test, unity-mac-test, unity-windows-test, unity-linux-local-test, unity-mac-local-test, unity-windows-local-test, unity-linux-release, unity-mac-release, unity-windows-release

language fix
  client/OkeyClient/Assets/Code/Scripts/Plateau/Plateau2.cs
Due: unity-linux-test, unity-mac-test, unity-windows-test, unity-linux-local-test, unity-mac-local-test, unity-windows-local-test, unity-linux-release, unity-mac-release, unity-windows-release

Undo de modifs
  server/OkeyServer/Hubs/OkeyHub.cs
Due: docker-server

Add new document links inside README
  README.md
Due: none

Retouches placeholders
  client/OkeyClient/Assets/Level/Scenes/PlateauInit.unity
Due: unity-linux-test, unity-mac-test, unity-windows-test, unity-linux-local-test, unity-mac-local-test, unity-windows-local-test, unity-linux-release, unity-mac-release, unity-windows-release

Controle de sons
  client/OkeyClient/Assets/Code/Scripts/PageAcceuil/VolumeControl.cs
  client/OkeyClient/Assets/Code/Scripts/PageAcceuil/VolumeControl.cs.meta
  client/OkeyClient/Assets/Level/Scenes/Acceuil.unity
  client/OkeyClient/Assets/Level/Scenes/PlateauInit.unity
  client/OkeyClient/Packages/packages-lock.json
Due: unity-linux-test, unity-mac-test, unity-windows-test, unity-linux-local-test, unity-mac-local-test, unity-windows-local-test, unity-linux-release, unity-mac-release, unity-windows-release

reglage du son du background et des bouton
  client/OkeyClient/Assets/Code/Scripts/PageAcceuil/VolumeControl.cs
  client/OkeyClient/Assets/Level/Scenes/Acceuil.unity
  client/OkeyClient/Assets/Level/Scenes/PlateauInit.unity
Due: unity-linux-test, unity-mac-test, unity-windows-test, unity-linux-local-test, unity-mac-local-test, unity-windows-local-test, unity-linux-release, unity-mac-release, unity-windows-release

Ajout du tutoriel foncitonnel
  client/OkeyClient/Assets/Code/Scripts/PageAccueil/UIManagerPAcceuil.cs
  client/OkeyClient/Assets/Level/Scenes/Acceuil.unity
Due: unity-linux-test, unity-mac-test, unity-windows-test, unity-linux-local-test, unity-mac-local-test, unity-windows-local-test, unity-linux-release, unity-mac-release, unity-windows-release

Fix d'une erreur liée à la traduction.
  client/OkeyClient/Assets/Level/Scenes/SelectionTypeJeu.unity
Due: unity-linux-test, unity-mac-test, unity-windows-test, unity-linux-local-test, unity-mac-local-test, unity-windows-local-test, unity-linux-release, unity-mac-release, unity-windows-release

music and sound effects sliders done
  client/OkeyClient/Assets/Code/Scripts/PageAccueil/BoutonSound/ButtonClickSound.cs
  client/OkeyClient/Assets/Code/Scripts/PageAccueil/Parametres/ParametreScreen.cs
  client/OkeyClient/Assets/Code/Scripts/PageAccueil/UIManagerPAcceuil.cs
  client/OkeyClient/Assets/Code/Scripts/UIManager.cs
  client/OkeyClient/Assets/Level/Scenes/Acceuil.unity
  client/OkeyClient/Assets/Level/Scenes/PlateauInit.unity
  client/OkeyClient/Assets/Level/Scenes/SelectionTypeJeu.unity
  client/OkeyClient/Packages/packages-lock.json
Due: unity-linux-test, unity-mac-test, unity-windows-test, unity-linux-local-test, unity-mac-local-test, unity-windows-local-test, unity-linux-release, unity-mac-release, unity-windows-release

music and sound effects sliders done
  client/OkeyClient/Assets/Code/Scripts/Plateau/PlateauUIManager.cs
  client/OkeyClient/Assets/Level/Scenes/PlateauInit.unity
  client/OkeyClient/Assets/ParametreLobby.cs
  client/OkeyClient/Assets/ParametreLobby.cs.meta
Due: unity-linux-test, unity-mac-test, unity-windows-test, unity-linux-local-test, unity-mac-local-test, unity-windows-local-test, unity-linux-release, unity-mac-release, unity-windows-release

music and sound effects sliders done
  client/OkeyClient/Assets/Level/Scenes/PlateauInit.unity
Due: unity-linux-test, unity-mac-test, unity-windows-test, unity-linux-local-test, unity-mac-local-test, unity-windows-local-test, unity-linux-release, unity-mac-release, unity-windows-release

slider bug fix
  client/OkeyClient/Assets/Code/Scripts/PageAccueil/BoutonSound/ButtonClickSound.cs
  client/OkeyClient/Assets/Code/Scripts/PageAccueil/Parametres/ParametreScreen.cs
  client/OkeyClient/Assets/Level/Scenes/Acceuil.unity
Due: unity-linux-test, unity-mac-test, unity-windows-test, unity-linux-local-test, unity-mac-local-test, unity-windows-local-test, unity-linux-release, unity-mac-release, unity-windows-release

Fermeture Panel param
  client/OkeyClient/Assets/Level/Scenes/Acceuil.unity
Due: unity-linux-test, unity-mac-test, unity-windows-test, unity-linux-local-test, unity-mac-local-test, unity-windows-local-test, unity-linux-release, unity-mac-release, unity-windows-release

Decalage de jeu.Termine() pour des questions de threading
  server/OkeyServer/Hubs/OkeyHub.cs
Due: docker-server

retirer erreurs
  server/OkeyServer/Hubs/OkeyHub.cs
Due: docker-server

Revert
  server/OkeyServer/Hubs/OkeyHub.cs
Due: docker-server

Fix de ref null
  client/OkeyClient/Assets/Level/Scenes/PlateauInit.unity
Due: unity-linux-test, unity-mac-test, unity-windows-test, unity-linux-local-test, unity-mac-local-test, unity-windows-local-test, unity-linux-release, unity-mac-release, unity-windows-release

Fix d'une autre ref a null
  client/OkeyClient/Assets/Level/Scenes/PlateauInit.unity
Due: unity-linux-test, unity-mac-test, unity-windows-test, unity-linux-local-test, unity-mac-local-test, unity-windows-local-test, unity-linux-release, unity-mac-release, unity-windows-release

Fix d'autres ref nulles
  client/OkeyClient/Assets/Level/Scenes/PlateauInit.unity
Due: unity-linux-test, unity-mac-test, unity-windows-test, unity-linux-local-test, unity-mac-local-test, unity-windows-local-test, unity-linux-release, unity-mac-release, unity-windows-release

Remise en place du signal de gain
  server/OkeyServer/Hubs/OkeyHub.cs
Due: docker-server

Fix d'autres bugs legers
  server/OkeyServer/Hubs/OkeyHub.cs
Due: docker-server

Corrections d'erreures
  client/OkeyClient/Assets/Code/Scripts/Plateau/PlateauUIManager.cs
  client/OkeyClient/Assets/Code/Scripts/SignalR/SignalRConnector.cs
  client/OkeyClient/Assets/Level/Scenes/PlateauInit.unity
Due: unity-linux-test, unity-mac-test, unity-windows-test, unity-linux-local-test, unity-mac-local-test, unity-windows-local-test, unity-linux-release, unity-mac-release, unity-windows-release

Fix de petites errreurs logique
  server/OkeyServer/Player/PlayerDatas.cs
Due: docker-server

Fix de la bar de sound
  client/OkeyClient/Assets/Level/Scenes/PlateauInit.unity
Due: unity-linux-test, unity-mac-test, unity-windows-test, unity-linux-local-test, unity-mac-local-test, unity-windows-local-test, unity-linux-release, unity-mac-release, unity-windows-release

Ajout de compteur de gain
  server/OkeyServer/Hubs/OkeyHub.cs
Due: docker-server

Ajout d'un dernier init
  server/OkeyServer/Hubs/OkeyHub.cs
Due: docker-server

Diminution nb essais
  server/OkeyServer/Hubs/OkeyHub.cs
Due: docker-server
