Repository MedChahb/Okey: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker-ci, docker-api, docker-server, docker-db-init, docker-website, unity-linux-test, unity-mac-test, unity-windows-test, unity-linux-local-test, unity-mac-local-test, unity-windows-local-test, unity-linux-release, unity-mac-release, unity-windows-release

Path conditions:
  docker-ci: any of: docker/CICD.Dockerfile, requirements.txt, .config/dotnet-tools.json
  docker-api: any of: docker/OkeyApi.Dockerfile, server/OkeyApi/**/*.cs, server/OkeyApi/appsettings*.json, server/OkeyApi/**/launchSettings.json, server/OkeyApi/*.csproj, server/OkeyApi/*.sln
  docker-server: any of: docker/OkeyServer.Dockerfile, server/OkeyServer/**/*.cs, server/OkeyServer/*.csproj, server/OkeyServer/*.sln
  docker-db-init: any of: docker/DB-Init.Dockerfile, server/OkeyApi/**/*.cs, server/OkeyApi/appsettings*.json, server/OkeyApi/**/launchSettings.json, server/OkeyApi/*.csproj, server/OkeyApi/*.sln
  docker-website: any of: docker/OkeyWebsite.Dockerfile, server/okeywebsite/new_app/**/*
  unity-linux-test: any of: client/OkeyClient/**/*
  unity-mac-test: any of: client/OkeyClient/**/*
  unity-windows-test: any of: client/OkeyClient/**/*
  unity-linux-local-test: any of: client/OkeyClient/**/*
  unity-mac-local-test: any of: client/OkeyClient/**/*
  unity-windows-local-test: any of: client/OkeyClient/**/*
  unity-linux-release: any of: client/OkeyClient/**/*
  unity-mac-release: any of: client/OkeyClient/**/*
  unity-windows-release: any of: client/OkeyClient/**/*

Start work on adding Android builds for Unity
  .gitlab-ci.yml
Due: none

Correction concernant les rooms privees
  server/OkeyServer/Lobby/RoomManager.cs
Due: docker-server

Support complet de la partie privee
  client/OkeyClient/Assets/Code/Scripts/SelectionTypeJeu/UIManagerPFormulaire.cs
  client/OkeyClient/Assets/Code/Scripts/SignalR/Packets/Rooms/RoomState.cs
  client/OkeyClient/Assets/Code/Scripts/SignalR/SignalRConnector.cs
  client/OkeyClient/Assets/Level/Scenes/SelectionTypeJeu.unity
Due: unity-linux-test, unity-mac-test, unity-windows-test, unity-linux-local-test, unity-mac-local-test, unity-windows-local-test, unity-linux-release, unity-mac-release, unity-windows-release

Mise à l'échèlle du panel de paramètres et ajout d'un background pour le panel de confirmation.
  client/OkeyClient/Assets/Level/Scenes/PlateauInit.unity
Due: unity-linux-test, unity-mac-test, unity-windows-test, unity-linux-local-test, unity-mac-local-test, unity-windows-local-test, unity-linux-release, unity-mac-release, unity-windows-release

Ajout de musique + effet de click
  client/OkeyClient/Assets/Art/UIAssets/BackgroundImages/OkeySplashScreen.jpeg
  client/OkeyClient/Assets/Art/UIAssets/BackgroundImages/OkeySplashScreen.jpeg.meta
  client/OkeyClient/Assets/Audio/Music/Musique (online-audio-converter.com).wav
  client/OkeyClient/Assets/Audio/Music/Musique (online-audio-converter.com).wav.meta
  client/OkeyClient/Assets/Audio/Music/Musique2.wav
  client/OkeyClient/Assets/Audio/Music/Musique2.wav.meta
  client/OkeyClient/Assets/Audio/Sound/BoutonEffect.wav
  client/OkeyClient/Assets/Audio/Sound/BoutonEffect.wav.meta
  client/OkeyClient/Assets/Code/Scripts/PageAccueil/BoutonSound.meta
  client/OkeyClient/Assets/Code/Scripts/PageAccueil/BoutonSound/ButtonClickSound.cs
  client/OkeyClient/Assets/Code/Scripts/PageAccueil/BoutonSound/ButtonClickSound.cs.meta
  client/OkeyClient/Assets/Level/Scenes/Acceuil.unity
  client/OkeyClient/Assets/Level/Scenes/PlateauInit.unity
Due: unity-linux-test, unity-mac-test, unity-windows-test, unity-linux-local-test, unity-mac-local-test, unity-windows-local-test, unity-linux-release, unity-mac-release, unity-windows-release

quelque ajustement
  client/OkeyClient/Assets/Level/Scenes/Acceuil.unity
Due: unity-linux-test, unity-mac-test, unity-windows-test, unity-linux-local-test, unity-mac-local-test, unity-windows-local-test, unity-linux-release, unity-mac-release, unity-windows-release

merge modifs back-end + correction de precommit
  server/okeywebsite/new_app/public/index.html
Due: docker-website

Ajustement de la page d'accueil après tests sur windows
  client/OkeyClient/Assets/Level/Scenes/Acceuil.unity
Due: unity-linux-test, unity-mac-test, unity-windows-test, unity-linux-local-test, unity-mac-local-test, unity-windows-local-test, unity-linux-release, unity-mac-release, unity-windows-release

Réajustement IHM PAccueil
  client/OkeyClient/Assets/Level/Scenes/Acceuil.unity
  client/OkeyClient/Assets/Level/Scenes/SelectionTypeJeu.unity
Due: unity-linux-test, unity-mac-test, unity-windows-test, unity-linux-local-test, unity-mac-local-test, unity-windows-local-test, unity-linux-release, unity-mac-release, unity-windows-release

refais des assignation des tours
  client/OkeyClient/Assets/Code/Scripts/SignalR/SignalRConnector.cs
Due: unity-linux-test, unity-mac-test, unity-windows-test, unity-linux-local-test, unity-mac-local-test, unity-windows-local-test, unity-linux-release, unity-mac-release, unity-windows-release

refasi du timer
  client/OkeyClient/Assets/Code/Scripts/LogiqueJeu/Timer.cs
Due: unity-linux-test, unity-mac-test, unity-windows-test, unity-linux-local-test, unity-mac-local-test, unity-windows-local-test, unity-linux-release, unity-mac-release, unity-windows-release

modif du packet start game
  client/OkeyClient/Assets/Code/Scripts/SignalR/SignalRConnector.cs
Due: unity-linux-test, unity-mac-test, unity-windows-test, unity-linux-local-test, unity-mac-local-test, unity-windows-local-test, unity-linux-release, unity-mac-release, unity-windows-release

Start work on adding Android builds for Unity
  client/OkeyClient/Assets/Editor/Builders/Builder.cs
Due: unity-linux-test, unity-mac-test, unity-windows-test, unity-linux-local-test, unity-mac-local-test, unity-windows-local-test, unity-linux-release, unity-mac-release, unity-windows-release

removed signals for other than main
  client/OkeyClient/Assets/Code/Scripts/SignalR/SignalRConnector.cs
Due: unity-linux-test, unity-mac-test, unity-windows-test, unity-linux-local-test, unity-mac-local-test, unity-windows-local-test, unity-linux-release, unity-mac-release, unity-windows-release

Correction d'une erreur push sur la page d'accueil
  client/OkeyClient/Assets/Level/Scenes/Acceuil.unity
Due: unity-linux-test, unity-mac-test, unity-windows-test, unity-linux-local-test, unity-mac-local-test, unity-windows-local-test, unity-linux-release, unity-mac-release, unity-windows-release

Suspend work on adding Android builds for Unity
  .gitlab-ci.yml
Due: none

parametre update
  client/OkeyClient/Assets/Code/Scripts/PageAccueil/Parametres/Language.cs
  client/OkeyClient/Assets/Code/Scripts/PageAccueil/Parametres/Language.cs.meta
  client/OkeyClient/Assets/Code/Scripts/PageAccueil/Parametres/ParametreScreen.cs
  client/OkeyClient/Assets/Level/Scenes/Acceuil.unity
Due: unity-linux-test, unity-mac-test, unity-windows-test, unity-linux-local-test, unity-mac-local-test, unity-windows-local-test, unity-linux-release, unity-mac-release, unity-windows-release

parametre update
  client/OkeyClient/Assets/Code/Scripts/PageAccueil/PageConnexion/LogInScreen.cs
  client/OkeyClient/Assets/Code/Scripts/PageAccueil/UIManagerPAcceuil.cs
  client/OkeyClient/Assets/Level/Scenes/Acceuil.unity
Due: unity-linux-test, unity-mac-test, unity-windows-test, unity-linux-local-test, unity-mac-local-test, unity-windows-local-test, unity-linux-release, unity-mac-release, unity-windows-release

bug fix removed import
  client/OkeyClient/Assets/Code/Scripts/PageAccueil/Parametres/ParametreScreen.cs
Due: unity-linux-test, unity-mac-test, unity-windows-test, unity-linux-local-test, unity-mac-local-test, unity-windows-local-test, unity-linux-release, unity-mac-release, unity-windows-release

Fix des tours
  client/OkeyClient/Assets/Code/Scripts/PageAccueil/Parametres/Language.cs
  client/OkeyClient/Assets/Code/Scripts/PageAccueil/Parametres/ParametreScreen.cs
  client/OkeyClient/Assets/Code/Scripts/SignalR/SignalRConnector.cs
Due: unity-linux-test, unity-mac-test, unity-windows-test, unity-linux-local-test, unity-mac-local-test, unity-windows-local-test, unity-linux-release, unity-mac-release, unity-windows-release

modified UI cree compte page
  client/OkeyClient/Assets/Level/Scenes/Acceuil.unity
Due: unity-linux-test, unity-mac-test, unity-windows-test, unity-linux-local-test, unity-mac-local-test, unity-windows-local-test, unity-linux-release, unity-mac-release, unity-windows-release

modified UI classement joueur
  client/OkeyClient/Assets/Level/Scenes/Acceuil.unity
Due: unity-linux-test, unity-mac-test, unity-windows-test, unity-linux-local-test, unity-mac-local-test, unity-windows-local-test, unity-linux-release, unity-mac-release, unity-windows-release

modified UI accross PAge Acceuil to make it more presentable
  client/OkeyClient/Assets/Level/Scenes/Acceuil.unity
Due: unity-linux-test, unity-mac-test, unity-windows-test, unity-linux-local-test, unity-mac-local-test, unity-windows-local-test, unity-linux-release, unity-mac-release, unity-windows-release

bug fix with rooms ui
  client/OkeyClient/Assets/Code/Scripts/PageAccueil/Parametres/Language.cs
  client/OkeyClient/Assets/Code/Scripts/SelectionTypeJeu/UIManagerPFormulaire.cs
  client/OkeyClient/Assets/Code/Scripts/SignalR/SignalRConnector.cs
  client/OkeyClient/Assets/Level/Scenes/SelectionTypeJeu.unity
Due: unity-linux-test, unity-mac-test, unity-windows-test, unity-linux-local-test, unity-mac-local-test, unity-windows-local-test, unity-linux-release, unity-mac-release, unity-windows-release

ajout debugging fin partie
  server/OkeyScript/Joueurs/Joueur.cs
  server/OkeyServer/References/Okey.dll
Due: none

20sec -> 59sec.
  server/OkeyServer/Hubs/OkeyHub.cs
Due: docker-server

timer changed dll.
  server/OkeyScript/Joueurs/Joueur.cs
  server/OkeyServer/References/Okey.dll
Due: none

Tentative fix erreur
  server/OkeyServer/Hubs/OkeyHub.cs
Due: docker-server

Fix d'un bug lors de tir automatique
  client/OkeyClient/Assets/Code/Scripts/SignalR/SignalRConnector.cs
Due: unity-linux-test, unity-mac-test, unity-windows-test, unity-linux-local-test, unity-mac-local-test, unity-windows-local-test, unity-linux-release, unity-mac-release, unity-windows-release

Tentative correction de gain de partie
  server/OkeyServer/Hubs/OkeyHub.cs
Due: docker-server

Autre strategie
  server/OkeyServer/Lobby/RoomManager.cs
  server/OkeyServer/References/Okey.dll
Due: docker-server

Delai + meilleur placement de signal
  server/OkeyServer/Hubs/OkeyHub.cs
Due: docker-server

Tentative fix disposable objects
  server/OkeyServer/Hubs/OkeyHub.cs
Due: docker-server
