Repository MedChahb/Okey: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker-ci, docker-api, docker-server, docker-db-init, docker-website, unity-linux-test, unity-mac-test, unity-windows-test, unity-linux-local-test, unity-mac-local-test, unity-windows-local-test, unity-linux-release, unity-mac-release, unity-windows-release

docker-ci:
  image:
    name: gcr.io/kaniko-project/executor:v1.21.1-debug
    entrypoint:
    - ''
  stage: build
  variables:
    IMAGE_NAME: projet-integrateur-cicd
  before_script:
  ...

docker-api:
  image:
    name: gcr.io/kaniko-project/executor:v1.21.1-debug
    entrypoint:
    - ''
  stage: build
  variables:
    IMAGE_NAME: okeyapi
  before_script:
  ...

docker-server:
  image:
    name: gcr.io/kaniko-project/executor:v1.21.1-debug
    entrypoint:
    - ''
  stage: build
  variables:
    IMAGE_NAME: okeyserver
  before_script:
  ...

docker-db-init:
  image:
    name: gcr.io/kaniko-project/executor:v1.21.1-debug
    entrypoint:
    - ''
  stage: build
  variables:
    IMAGE_NAME: db-init
  before_script:
  ...

docker-website:
  image:
    name: gcr.io/kaniko-project/executor:v1.21.1-debug
    entrypoint:
    - ''
  stage: build
  variables:
    IMAGE_NAME: okeywebsite
  before_script:
  ...

unity-linux-test:
  image:
    name: unityci/editor:ubuntu-2022.3.19f1-base-3.0.1
  stage: build
  needs:
  - job: unity-linux-local-test
    artifacts: false
  - job: unity-mac-local-test
    artifacts: false
  - job: unity-windows-local-test
    artifacts: false
  variables:
    BUILD_PATH: client/OkeyClient/Builds/Linux
  before_script:
  ...

unity-mac-test:
  image:
    name: unityci/editor:ubuntu-2022.3.19f1-mac-mono-3.0.1
  stage: build
  needs:
  - job: unity-linux-local-test
    artifacts: false
  - job: unity-mac-local-test
    artifacts: false
  - job: unity-windows-local-test
    artifacts: false
  variables:
    BUILD_PATH: client/OkeyClient/Builds/Mac
  before_script:
  ...

unity-windows-test:
  image:
    name: unityci/editor:ubuntu-2022.3.19f1-windows-mono-3.0.1
  stage: build
  needs:
  - job: unity-linux-local-test
    artifacts: false
  - job: unity-mac-local-test
    artifacts: false
  - job: unity-windows-local-test
    artifacts: false
  variables:
    BUILD_PATH: client/OkeyClient/Builds/Windows
  ...

unity-linux-local-test:
  image:
    name: unityci/editor:ubuntu-2022.3.19f1-base-3.0.1
  stage: build
  dependencies: []
  variables:
    BUILD_PATH: client/OkeyClient/Builds/Linux
  before_script:
  - /opt/unity/Editor/Unity -quit -batchmode -nographics -serial "$UNITY_SERIAL" -username "$UNITY_EMAIL" -password "$UNITY_PASSWORD"
  ...

unity-mac-local-test:
  image:
    name: unityci/editor:ubuntu-2022.3.19f1-mac-mono-3.0.1
  stage: build
  dependencies: []
  variables:
    BUILD_PATH: client/OkeyClient/Builds/Mac
  before_script:
  - /opt/unity/Editor/Unity -quit -batchmode -nographics -serial "$UNITY_SERIAL" -username "$UNITY_EMAIL" -password "$UNITY_PASSWORD"
  ...

unity-windows-local-test:
  image:
    name: unityci/editor:ubuntu-2022.3.19f1-windows-mono-3.0.1
  stage: build
  dependencies: []
  variables:
    BUILD_PATH: client/OkeyClient/Builds/Windows
  before_script:
  ...

Tentative fix disposable objects
  server/OkeyServer/Hubs/OkeyHub.cs
Due: docker-server

Tentative fix de gain
  server/OkeyServer/Hubs/OkeyHub.cs
Due: docker-server

Envoi de signal un peu plus tot
  server/OkeyServer/Hubs/OkeyHub.cs
Due: docker-server

Petits ajustements
  client/OkeyClient/Assets/Code/Scripts/SignalR/SignalRConnector.cs
Due: unity-linux-test, unity-mac-test, unity-windows-test, unity-linux-local-test, unity-mac-local-test, unity-windows-local-test, unity-linux-release, unity-mac-release, unity-windows-release

Tweak Docker Compose for the better
  docker/compose.yml
Due: none

Simplify Nginx config, try to solve server connection issues
  docker/docker_data/config/nginx/nginx-core.conf
  docker/docker_data/config/nginx/nginx-extra.conf
Due: none

Improve CI/CD changed file detection for Docker image builds
  .gitlab-ci.yml
Due: none

rajout de l'update des elos en fin de partie
  server/OkeyServer/Hubs/OkeyHub.cs
Due: docker-server

rajout de l'update de elo en BDD quand on fini une partie
  server/OkeyServer/Hubs/OkeyHub.cs
Due: docker-server

Ajout du tutoriel sur le site
  server/okeywebsite/new_app/public/index.html
  server/okeywebsite/new_app/public/resources/imgs/end-tour.png
  server/okeywebsite/new_app/public/resources/imgs/img1.png
  server/okeywebsite/new_app/public/resources/imgs/joker-head.png
  server/okeywebsite/new_app/public/resources/imgs/jokers.png
  server/okeywebsite/new_app/public/resources/imgs/start.png
  server/okeywebsite/new_app/public/resources/imgs/suite-1.png
  server/okeywebsite/new_app/public/resources/imgs/suite-2.png
  server/okeywebsite/new_app/public/resources/imgs/turns.png
Due: docker-website

Correction de certains textes
  server/okeywebsite/new_app/public/index.html
Due: docker-website

Correction de la partie joker
  server/okeywebsite/new_app/public/index.html
  server/okeywebsite/new_app/public/resources/imgs/jk-1.png
  server/okeywebsite/new_app/public/resources/imgs/jk-2.png
Due: docker-website

Nouvelle correction
  server/okeywebsite/new_app/public/index.html
Due: docker-website

Ajout de petits textes, ameliorations a ajouter
  server/okeywebsite/new_app/public/index.html
Due: docker-website

modification eupdatet des statistiques
  server/OkeyServer/Hubs/OkeyHub.cs
  server/OkeyServer/Player/PlayerDatas.cs
Due: docker-server

Test new Nginx config, try to solve server connection issues
  docker/docker_data/config/nginx/nginx-core.conf
  docker/docker_data/config/nginx/nginx-extra.conf
Due: none

tentative de fix du DbContext qui meurt ?
  server/OkeyServer/Hubs/OkeyHub.cs
Due: docker-server

e e ncommentaire de l''update de elo d'experience de parties jouées etc
  server/OkeyServer/Hubs/OkeyHub.cs
Due: docker-server

Solve server connection issues on Unistra VMs
  client/OkeyClient/Assets/Code/Scripts/Constants.cs
  client/OkeyClient/Assets/Code/Scripts/SignalR/SignalRConnector.cs
  client/OkeyClient/Assets/Editor/Builders/Builder.cs
  docker/compose.yml
  docker/docker_data/config/nginx/nginx-core.conf
  docker/docker_data/config/nginx/nginx-extra.conf
Due: unity-linux-test, unity-mac-test, unity-windows-test, unity-linux-local-test, unity-mac-local-test, unity-windows-local-test, unity-linux-release, unity-mac-release, unity-windows-release

Define Unity `LOCAL` preprocessor symbol for standalone targets
  client/OkeyClient/ProjectSettings/ProjectSettings.asset
Due: unity-linux-test, unity-mac-test, unity-windows-test, unity-linux-local-test, unity-mac-local-test, unity-windows-local-test, unity-linux-release, unity-mac-release, unity-windows-release

Fix Unity builds on CI/CD
  client/OkeyClient/Assets/Editor/Builders/Builder.cs
Due: unity-linux-test, unity-mac-test, unity-windows-test, unity-linux-local-test, unity-mac-local-test, unity-windows-local-test, unity-linux-release, unity-mac-release, unity-windows-release

avatars in loby
  client/OkeyClient/Assets/Code/Scripts/PageAccueil/UIManagerPAcceuil.cs
  client/OkeyClient/Assets/Code/Scripts/Plateau/PlayersAvatarLobby.cs
  client/OkeyClient/Assets/Code/Scripts/SelectionTypeJeu/UIManagerPFormulaire.cs
  client/OkeyClient/Assets/Code/Scripts/SignalR/SignalRConnector.cs
  client/OkeyClient/Assets/Level/Scenes/Acceuil.unity
  client/OkeyClient/Assets/Level/Scenes/SelectionTypeJeu.unity
Due: unity-linux-test, unity-mac-test, unity-windows-test, unity-linux-local-test, unity-mac-local-test, unity-windows-local-test, unity-linux-release, unity-mac-release, unity-windows-release

Modif pour la presentation
  client/OkeyClient/Assets/Code/Scripts/SignalR/SignalRConnector.cs
Due: unity-linux-test, unity-mac-test, unity-windows-test, unity-linux-local-test, unity-mac-local-test, unity-windows-local-test, unity-linux-release, unity-mac-release, unity-windows-release

Retry adding Android builds for Unity
  .gitlab-ci.yml
  client/OkeyClient/Assets/Editor/Builders/Builder.cs
Due: unity-linux-test, unity-mac-test, unity-windows-test, unity-linux-local-test, unity-mac-local-test, unity-windows-local-test, unity-linux-release, unity-mac-release, unity-windows-release

Try adding Android builds for Unity
  client/OkeyClient/Assets/Editor/Builders/Builder.cs
Due: unity-linux-test, unity-mac-test, unity-windows-test, unity-linux-local-test, unity-mac-local-test, unity-windows-local-test, unity-linux-release, unity-mac-release, unity-windows-release

Reset server URL endpoint
  client/OkeyClient/Assets/Code/Scripts/SignalR/SignalRConnector.cs
Due: unity-linux-test, unity-mac-test, unity-windows-test, unity-linux-local-test, unity-mac-local-test, unity-windows-local-test, unity-linux-release, unity-mac-release, unity-windows-release

Try adding Android builds for Unity
  .gitlab-ci.yml
Due: none

on va peut etre tout cassé
  server/OkeyServer/Hubs/OkeyHub.cs
Due: docker-server

Correction de l'erreur de connexion vue avec Efe
  client/OkeyClient/Assets/Code/Scripts/PageAccueil/UIManagerPAcceuil.cs
Due: unity-linux-test, unity-mac-test, unity-windows-test, unity-linux-local-test, unity-mac-local-test, unity-windows-local-test, unity-linux-release, unity-mac-release, unity-windows-release

language du jeux
  client/OkeyClient/Assets/Code/Scripts/PageAccueil/UIManagerPAcceuil.cs
  client/OkeyClient/Assets/Code/Scripts/Plateau/Plateau2.cs
  client/OkeyClient/Assets/Code/Scripts/Plateau/PlateauUIManager.cs
  client/OkeyClient/Assets/Code/Scripts/SelectionTypeJeu/UIManagerPFormulaire.cs
  client/OkeyClient/Assets/Level/Scenes/Acceuil.unity
  client/OkeyClient/Assets/Level/Scenes/PlateauInit.unity
  client/OkeyClient/Assets/Level/Scenes/SelectionTypeJeu.unity
Due: unity-linux-test, unity-mac-test, unity-windows-test, unity-linux-local-test, unity-mac-local-test, unity-windows-local-test, unity-linux-release, unity-mac-release, unity-windows-release

Path conditions:
  docker-ci: any of: docker/CICD.Dockerfile, requirements.txt, .config/dotnet-tools.json
  docker-api: any of: docker/OkeyApi.Dockerfile, server/OkeyApi/**/*.cs, server/OkeyApi/appsettings*.json, server/OkeyApi/**/launchSettings.json, server/OkeyApi/*.csproj, server/OkeyApi/*.sln
  docker-server: any of: docker/OkeyServer.Dockerfile, server/OkeyServer/**/*.cs, server/OkeyServer/*.csproj, server/OkeyServer/*.sln
  docker-db-init: any of: docker/DB-Init.Dockerfile, server/OkeyApi/**/*.cs, server/OkeyApi/appsettings*.json, server/OkeyApi/**/launchSettings.json, server/OkeyApi/*.csproj, server/OkeyApi/*.sln
  docker-website: any of: docker/OkeyWebsite.Dockerfile, server/okeywebsite/new_app/**/*
  unity-linux-test: any of: client/OkeyClient/**/*
  unity-mac-test: any of: client/OkeyClient/**/*
  unity-windows-test: any of: client/OkeyClient/**/*
  unity-linux-local-test: any of: client/OkeyClient/**/*
  unity-mac-local-test: any of: client/OkeyClient/**/*
  unity-windows-local-test: any of: client/OkeyClient/**/*
  unity-linux-release: any of: client/OkeyClient/**/*
  unity-mac-release: any of: client/OkeyClient/**/*
  unity-windows-release: any of: client/OkeyClient/**/*
