Repository MedChahb/Okey: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker-ci, docker-api, docker-server, docker-db-init, docker-website, unity-linux-test, unity-mac-test, unity-windows-test, unity-linux-local-test, unity-mac-local-test, unity-windows-local-test, unity-linux-release, unity-mac-release, unity-windows-release

Path conditions:
  docker-ci: any of: docker/CICD.Dockerfile, requirements.txt, .config/dotnet-tools.json
  docker-api: any of: docker/OkeyApi.Dockerfile, server/OkeyApi/**/*.cs, server/OkeyApi/appsettings*.json, server/OkeyApi/**/launchSettings.json, server/OkeyApi/*.csproj, server/OkeyApi/*.sln
  docker-server: any of: docker/OkeyServer.Dockerfile, server/OkeyServer/**/*.cs, server/OkeyServer/*.csproj, server/OkeyServer/*.sln
  docker-db-init: any of: docker/DB-Init.Dockerfile, server/OkeyApi/**/*.cs, server/OkeyApi/appsettings*.json, server/OkeyApi/**/launchSettings.json, server/OkeyApi/*.csproj, server/OkeyApi/*.sln
  docker-website: any of: docker/OkeyWebsite.Dockerfile, server/okeywebsite/new_app/**/*
  unity-linux-test: any of: client/OkeyClient/**/*
  unity-mac-test: any of: client/OkeyClient/**/*
  unity-windows-test: any of: client/OkeyClient/**/*
  unity-linux-local-test: any of: client/OkeyClient/**/*
  unity-mac-local-test: any of: client/OkeyClient/**/*
  unity-windows-local-test: any of: client/OkeyClient/**/*
  unity-linux-release: any of: client/OkeyClient/**/*
  unity-mac-release: any of: client/OkeyClient/**/*
  unity-windows-release: any of: client/OkeyClient/**/*

mise en commentaire du cassage
  server/OkeyServer/Hubs/OkeyHub.cs
Due: docker-server

remise en commentaire de l'update de stats pour le release de ce soir
  server/OkeyServer/Hubs/OkeyHub.cs
Due: docker-server

Resizing page plateau
  client/OkeyClient/Assets/Level/Prefabs/ChevaletBack.prefab
  client/OkeyClient/Assets/Level/Prefabs/ChevaletFront.prefab
  client/OkeyClient/Assets/Level/Scenes/PlateauInit.unity
Due: unity-linux-test, unity-mac-test, unity-windows-test, unity-linux-local-test, unity-mac-local-test, unity-windows-local-test, unity-linux-release, unity-mac-release, unity-windows-release

language du jeux
  client/OkeyClient/Assets/Code/Scripts/PageAccueil/UIManagerPAcceuil.cs
  client/OkeyClient/Assets/Code/Scripts/Plateau/PlayersAvatarLobby.cs
  client/OkeyClient/Assets/Level/Scenes/Acceuil.unity
  client/OkeyClient/Assets/Level/Scenes/PlateauInit.unity
  client/OkeyClient/Assets/Level/Scenes/SelectionTypeJeu.unity
  client/OkeyClient/ProjectSettings/ProjectSettings.asset
Due: unity-linux-test, unity-mac-test, unity-windows-test, unity-linux-local-test, unity-mac-local-test, unity-windows-local-test, unity-linux-release, unity-mac-release, unity-windows-release

Ajout de la traduction du tutoriel
  server/okeywebsite/new_app/public/index.html
Due: docker-website

Ajout traduction du site
  server/okeywebsite/new_app/public/index.html
Due: docker-website

Fix de merge
  server/okeywebsite/new_app/public/index.html
Due: docker-website

language scene plateeau
  client/OkeyClient/Assets/Code/Scripts/Plateau/PlateauUIManager.cs
  client/OkeyClient/Assets/Level/Scenes/PlateauInit.unity
Due: unity-linux-test, unity-mac-test, unity-windows-test, unity-linux-local-test, unity-mac-local-test, unity-windows-local-test, unity-linux-release, unity-mac-release, unity-windows-release

resized avatars
  client/OkeyClient/Assets/Art/Textures/Resources/Avatar/avatarn1.png
  client/OkeyClient/Assets/Art/Textures/Resources/Avatar/avatarn2.png
  client/OkeyClient/Assets/Art/Textures/Resources/Avatar/avatarn3.png
  client/OkeyClient/Assets/Art/Textures/Resources/Avatar/avatarn4.png
Due: unity-linux-test, unity-mac-test, unity-windows-test, unity-linux-local-test, unity-mac-local-test, unity-windows-local-test, unity-linux-release, unity-mac-release, unity-windows-release

resized avatars
  client/OkeyClient/Assets/Art/UIAssets/Avatar/Avatar.png.meta
  client/OkeyClient/Assets/Art/UIAssets/Avatar/avatarn1.png
  client/OkeyClient/Assets/Art/UIAssets/Avatar/avatarn1.png.meta
  client/OkeyClient/Assets/Art/UIAssets/Avatar/avatarn2.png
  client/OkeyClient/Assets/Art/UIAssets/Avatar/avatarn2.png.meta
  client/OkeyClient/Assets/Art/UIAssets/Avatar/avatarn3.png
  client/OkeyClient/Assets/Art/UIAssets/Avatar/avatarn3.png.meta
  client/OkeyClient/Assets/Art/UIAssets/Avatar/avatarn4.png
  client/OkeyClient/Assets/Art/UIAssets/Avatar/avatarn4.png.meta
Due: unity-linux-test, unity-mac-test, unity-windows-test, unity-linux-local-test, unity-mac-local-test, unity-windows-local-test, unity-linux-release, unity-mac-release, unity-windows-release

revert of avatars
  client/OkeyClient/Assets/Art/UIAssets/Avatar/avatarn1.png
  client/OkeyClient/Assets/Art/UIAssets/Avatar/avatarn2.png
  client/OkeyClient/Assets/Art/UIAssets/Avatar/avatarn3.png
  client/OkeyClient/Assets/Art/UIAssets/Avatar/avatarn4.png
Due: unity-linux-test, unity-mac-test, unity-windows-test, unity-linux-local-test, unity-mac-local-test, unity-windows-local-test, unity-linux-release, unity-mac-release, unity-windows-release

revert of avatars
  client/OkeyClient/Assets/Art/UIAssets/Avatar/Avatar.png.meta
  client/OkeyClient/Assets/Art/UIAssets/Avatar/avatarn1.png.meta
  client/OkeyClient/Assets/Art/UIAssets/Avatar/avatarn2.png.meta
  client/OkeyClient/Assets/Art/UIAssets/Avatar/avatarn3.png.meta
  client/OkeyClient/Assets/Art/UIAssets/Avatar/avatarn4.png.meta
Due: unity-linux-test, unity-mac-test, unity-windows-test, unity-linux-local-test, unity-mac-local-test, unity-windows-local-test, unity-linux-release, unity-mac-release, unity-windows-release

languge acceuil
  client/OkeyClient/Assets/Code/Scripts/PageAccueil/UIManagerPAcceuil.cs
  client/OkeyClient/Assets/Level/Scenes/Acceuil.unity
Due: unity-linux-test, unity-mac-test, unity-windows-test, unity-linux-local-test, unity-mac-local-test, unity-windows-local-test, unity-linux-release, unity-mac-release, unity-windows-release

avatars plateau
  client/OkeyClient/Assets/Code/Scripts/Plateau/PlayersAvatarLobby.cs
  client/OkeyClient/Assets/Code/Scripts/SignalR/SignalRConnector.cs
  client/OkeyClient/Assets/Level/Scenes/PlateauInit.unity
Due: unity-linux-test, unity-mac-test, unity-windows-test, unity-linux-local-test, unity-mac-local-test, unity-windows-local-test, unity-linux-release, unity-mac-release, unity-windows-release

language erreur messages
  client/OkeyClient/Assets/Code/Scripts/PageAccueil/PageConnexion/CreateAccountScreen.cs
  client/OkeyClient/Assets/Code/Scripts/PageAccueil/PageConnexion/LogInScreen.cs
Due: unity-linux-test, unity-mac-test, unity-windows-test, unity-linux-local-test, unity-mac-local-test, unity-windows-local-test, unity-linux-release, unity-mac-release, unity-windows-release

Abort work on adding Android builds for Unity
  .gitlab-ci.yml
Due: none

Légère corrections et remodification des avatars
  client/OkeyClient/Assets/Art/Textures/Resources/Avatar/Avatar.png.meta
  client/OkeyClient/Assets/Art/Textures/Resources/Avatar/avatarn1.png
  client/OkeyClient/Assets/Art/Textures/Resources/Avatar/avatarn1.png.meta
  client/OkeyClient/Assets/Art/Textures/Resources/Avatar/avatarn2.png
  client/OkeyClient/Assets/Art/Textures/Resources/Avatar/avatarn2.png.meta
  client/OkeyClient/Assets/Art/Textures/Resources/Avatar/avatarn3.png
  client/OkeyClient/Assets/Art/Textures/Resources/Avatar/avatarn3.png.meta
  client/OkeyClient/Assets/Art/Textures/Resources/Avatar/avatarn4.png
  client/OkeyClient/Assets/Art/Textures/Resources/Avatar/avatarn4.png.meta
  client/OkeyClient/Assets/Code/Scripts/PageAccueil/PageConnexion/CreateAccountScreen.cs
  client/OkeyClient/Assets/Code/Scripts/PageAccueil/PageConnexion/LogInScreen.cs
  client/OkeyClient/Assets/Code/Scripts/PageAccueil/PageProfil/PageProfile.cs
  client/OkeyClient/Assets/Level/Scenes/Acceuil.unity
Due: unity-linux-test, unity-mac-test, unity-windows-test, unity-linux-local-test, unity-mac-local-test, unity-windows-local-test, unity-linux-release, unity-mac-release, unity-windows-release

language
  client/OkeyClient/Assets/Code/Scripts/SelectionTypeJeu/UIManagerPFormulaire.cs
Due: unity-linux-test, unity-mac-test, unity-windows-test, unity-linux-local-test, unity-mac-local-test, unity-windows-local-test, unity-linux-release, unity-mac-release, unity-windows-release

language
  client/OkeyClient/Assets/Code/Scripts/SelectionTypeJeu/UIManagerPFormulaire.cs
  client/OkeyClient/Assets/Level/Scenes/SelectionTypeJeu.unity
Due: unity-linux-test, unity-mac-test, unity-windows-test, unity-linux-local-test, unity-mac-local-test, unity-windows-local-test, unity-linux-release, unity-mac-release, unity-windows-release

last commit
  client/OkeyClient/Assets/Level/Scenes/SelectionTypeJeu.unity
Due: unity-linux-test, unity-mac-test, unity-windows-test, unity-linux-local-test, unity-mac-local-test, unity-windows-local-test, unity-linux-release, unity-mac-release, unity-windows-release

erreur fix
  client/OkeyClient/Assets/Level/Scenes/Acceuil.unity
Due: unity-linux-test, unity-mac-test, unity-windows-test, unity-linux-local-test, unity-mac-local-test, unity-windows-local-test, unity-linux-release, unity-mac-release, unity-windows-release

ui fix
  client/OkeyClient/Assets/Level/Scenes/Acceuil.unity
Due: unity-linux-test, unity-mac-test, unity-windows-test, unity-linux-local-test, unity-mac-local-test, unity-windows-local-test, unity-linux-release, unity-mac-release, unity-windows-release

Remise en l'état du plateau fonctionnel
  client/OkeyClient/Assets/Level/Scenes/PlateauInit.unity
Due: unity-linux-test, unity-mac-test, unity-windows-test, unity-linux-local-test, unity-mac-local-test, unity-windows-local-test, unity-linux-release, unity-mac-release, unity-windows-release

Format files
  server/okeywebsite/new_app/public/index.html
Due: docker-website

fix nullexceptions
  client/OkeyClient/Assets/Code/Scripts/PageAccueil/UIManagerPAcceuil.cs
  client/OkeyClient/Assets/Level/Scenes/Acceuil.unity
  client/OkeyClient/Assets/Level/Scenes/PlateauInit.unity
  client/OkeyClient/Packages/manifest.json
  client/OkeyClient/Packages/packages-lock.json
  client/OkeyClient/ProjectSettings/ProjectVersion.txt
Due: unity-linux-test, unity-mac-test, unity-windows-test, unity-linux-local-test, unity-mac-local-test, unity-windows-local-test, unity-linux-release, unity-mac-release, unity-windows-release

Revert Unity Editor version from 30f1 to 19f1
  client/OkeyClient/ProjectSettings/ProjectVersion.txt
Due: unity-linux-test, unity-mac-test, unity-windows-test, unity-linux-local-test, unity-mac-local-test, unity-windows-local-test, unity-linux-release, unity-mac-release, unity-windows-release

Bugfixs scène PlateauInit
  client/OkeyClient/Assets/Level/Scenes/PlateauInit.unity
Due: unity-linux-test, unity-mac-test, unity-windows-test, unity-linux-local-test, unity-mac-local-test, unity-windows-local-test, unity-linux-release, unity-mac-release, unity-windows-release

Resize des piles pour être en accord avec la taille des tuiles.
  client/OkeyClient/Assets/Level/Scenes/PlateauInit.unity
Due: unity-linux-test, unity-mac-test, unity-windows-test, unity-linux-local-test, unity-mac-local-test, unity-windows-local-test, unity-linux-release, unity-mac-release, unity-windows-release

Ré-affichage signaux.
  client/OkeyClient/Assets/Level/Scenes/PlateauInit.unity
Due: unity-linux-test, unity-mac-test, unity-windows-test, unity-linux-local-test, unity-mac-local-test, unity-windows-local-test, unity-linux-release, unity-mac-release, unity-windows-release

Centrage des piles.
  client/OkeyClient/Assets/Level/Scenes/PlateauInit.unity
Due: unity-linux-test, unity-mac-test, unity-windows-test, unity-linux-local-test, unity-mac-local-test, unity-windows-local-test, unity-linux-release, unity-mac-release, unity-windows-release

Corrections d'erreurs liées aux piles.
  client/OkeyClient/Assets/Level/Scenes/PlateauInit.unity
Due: unity-linux-test, unity-mac-test, unity-windows-test, unity-linux-local-test, unity-mac-local-test, unity-windows-local-test, unity-linux-release, unity-mac-release, unity-windows-release

Tentative de correction de l'affichage des emotes/messages.
  client/OkeyClient/Assets/Level/Scenes/PlateauInit.unity
Due: unity-linux-test, unity-mac-test, unity-windows-test, unity-linux-local-test, unity-mac-local-test, unity-windows-local-test, unity-linux-release, unity-mac-release, unity-windows-release

Update de la fonction verifchevalet
  server/OkeyServer/References/Okey.dll
Due: none

Tentative de résolution du problème d'affichage des emotes
  client/OkeyClient/Assets/Code/Scripts/Plateau/Plateau2.cs
Due: unity-linux-test, unity-mac-test, unity-windows-test, unity-linux-local-test, unity-mac-local-test, unity-windows-local-test, unity-linux-release, unity-mac-release, unity-windows-release

Ajout de sprites aux placeholders d'emote au lieu d'images.
  client/OkeyClient/Assets/Code/Scripts/Plateau/Plateau2.cs
Due: unity-linux-test, unity-mac-test, unity-windows-test, unity-linux-local-test, unity-mac-local-test, unity-windows-local-test, unity-linux-release, unity-mac-release, unity-windows-release

Ajout de nouveaux placeholders pour les emotes.
  client/OkeyClient/Assets/Code/Scripts/Plateau/Plateau2.cs
Due: unity-linux-test, unity-mac-test, unity-windows-test, unity-linux-local-test, unity-mac-local-test, unity-windows-local-test, unity-linux-release, unity-mac-release, unity-windows-release

Ajout de nouveaux placeholders pour les emotes.
  client/OkeyClient/Assets/Level/Scenes/PlateauInit.unity
Due: unity-linux-test, unity-mac-test, unity-windows-test, unity-linux-local-test, unity-mac-local-test, unity-windows-local-test, unity-linux-release, unity-mac-release, unity-windows-release
