Repository MedChahb/Okey: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker-ci, docker-api, docker-server, docker-db-init, docker-website, unity-linux-test, unity-mac-test, unity-windows-test, unity-linux-local-test, unity-mac-local-test, unity-windows-local-test, unity-linux-release, unity-mac-release, unity-windows-release

docker-ci:
  image:
    name: gcr.io/kaniko-project/executor:v1.21.1-debug
    entrypoint:
    - ''
  stage: build
  variables:
    IMAGE_NAME: projet-integrateur-cicd
  before_script:
  ...

docker-api:
  image:
    name: gcr.io/kaniko-project/executor:v1.21.1-debug
    entrypoint:
    - ''
  stage: build
  variables:
    IMAGE_NAME: okeyapi
  before_script:
  ...

docker-server:
  image:
    name: gcr.io/kaniko-project/executor:v1.21.1-debug
    entrypoint:
    - ''
  stage: build
  variables:
    IMAGE_NAME: okeyserver
  before_script:
  ...

docker-db-init:
  image:
    name: gcr.io/kaniko-project/executor:v1.21.1-debug
    entrypoint:
    - ''
  stage: build
  variables:
    IMAGE_NAME: db-init
  before_script:
  ...

docker-website:
  image:
    name: gcr.io/kaniko-project/executor:v1.21.1-debug
    entrypoint:
    - ''
  stage: build
  variables:
    IMAGE_NAME: okeywebsite
  before_script:
  ...

unity-linux-test:
  image:
    name: unityci/editor:ubuntu-2022.3.19f1-base-3.0.1
  stage: build
  needs:
  - job: unity-linux-local-test
    artifacts: false
  - job: unity-mac-local-test
    artifacts: false
  - job: unity-windows-local-test
    artifacts: false
  variables:
    BUILD_PATH: client/OkeyClient/Builds/Linux
  before_script:
  ...

unity-mac-test:
  image:
    name: unityci/editor:ubuntu-2022.3.19f1-mac-mono-3.0.1
  stage: build
  needs:
  - job: unity-linux-local-test
    artifacts: false
  - job: unity-mac-local-test
    artifacts: false
  - job: unity-windows-local-test
    artifacts: false
  variables:
    BUILD_PATH: client/OkeyClient/Builds/Mac
  before_script:
  ...

unity-windows-test:
  image:
    name: unityci/editor:ubuntu-2022.3.19f1-windows-mono-3.0.1
  stage: build
  needs:
  - job: unity-linux-local-test
    artifacts: false
  - job: unity-mac-local-test
    artifacts: false
  - job: unity-windows-local-test
    artifacts: false
  variables:
    BUILD_PATH: client/OkeyClient/Builds/Windows
  ...

unity-linux-local-test:
  image:
    name: unityci/editor:ubuntu-2022.3.19f1-base-3.0.1
  stage: build
  dependencies: []
  variables:
    BUILD_PATH: client/OkeyClient/Builds/Linux
  before_script:
  - /opt/unity/Editor/Unity -quit -batchmode -nographics -serial "$UNITY_SERIAL" -username "$UNITY_EMAIL" -password "$UNITY_PASSWORD"
  ...

unity-mac-local-test:
  image:
    name: unityci/editor:ubuntu-2022.3.19f1-mac-mono-3.0.1
  stage: build
  dependencies: []
  variables:
    BUILD_PATH: client/OkeyClient/Builds/Mac
  before_script:
  - /opt/unity/Editor/Unity -quit -batchmode -nographics -serial "$UNITY_SERIAL" -username "$UNITY_EMAIL" -password "$UNITY_PASSWORD"
  ...

unity-windows-local-test:
  image:
    name: unityci/editor:ubuntu-2022.3.19f1-windows-mono-3.0.1
  stage: build
  dependencies: []
  variables:
    BUILD_PATH: client/OkeyClient/Builds/Windows
  before_script:
  ...

Implementation de packet pour meilleur affichage des tours
  client/OkeyClient/Assets/Code/Scripts/SignalR/Packets/Signals.meta
  client/OkeyClient/Assets/Code/Scripts/SignalR/Packets/Signals/GameCancelled.cs
  client/OkeyClient/Assets/Code/Scripts/SignalR/Packets/Signals/GameCancelled.cs.meta
  client/OkeyClient/Assets/Code/Scripts/SignalR/Packets/Signals/OrderPacket.cs
  client/OkeyClient/Assets/Code/Scripts/SignalR/Packets/Signals/OrderPacket.cs.meta
  client/OkeyClient/Assets/Code/Scripts/SignalR/Packets/Signals/StartingGamePacket.cs
  client/OkeyClient/Assets/Code/Scripts/SignalR/Packets/Signals/StartingGamePacket.cs.meta
  client/OkeyClient/Assets/Code/Scripts/SignalR/SignalRConnector.cs
Due: unity-linux-test, unity-mac-test, unity-windows-test, unity-linux-local-test, unity-mac-local-test, unity-windows-local-test, unity-linux-release, unity-mac-release, unity-windows-release

Modification du .dll provisoire pour tests en cas de gain
  server/OkeyServer/References/Okey.dll
Due: none

Part 2, modif fonction pour debug
  server/OkeyScript/Joueurs/Joueur.cs
Due: none

undo des modifs
  server/OkeyScript/Joueurs/Joueur.cs
  server/OkeyServer/References/Okey.dll
Due: none

ajout de modifs pour autres essais
  server/OkeyServer/Hubs/OkeyHub.cs
Due: docker-server

Ajout de gestion de gain de partie fonctionnel
  client/OkeyClient/Assets/Code/Scripts/Plateau/Plateau2.cs
  client/OkeyClient/Assets/Code/Scripts/Plateau/PlateauUIManager.cs
  client/OkeyClient/Assets/Code/Scripts/SignalR/SignalRConnector.cs
  client/OkeyClient/Assets/Level/Scenes/PlateauInit.unity
Due: unity-linux-test, unity-mac-test, unity-windows-test, unity-linux-local-test, unity-mac-local-test, unity-windows-local-test, unity-linux-release, unity-mac-release, unity-windows-release

undo de signaux
  server/OkeyServer/Hubs/OkeyHub.cs
Due: docker-server

Resizing de la scène plateau init et modification de panel de confirmation
  client/OkeyClient/Assets/Art/UIAssets/Buttons/ButtonQuit.png
  client/OkeyClient/Assets/Art/UIAssets/Buttons/ButtonQuit.png.meta
  client/OkeyClient/Assets/Level/Prefabs/ChevaletBack.prefab
  client/OkeyClient/Assets/Level/Prefabs/ChevaletFront.prefab
  client/OkeyClient/Assets/Level/Scenes/PlateauInit.unity
  client/OkeyClient/Assets/TextMesh Pro/Resources/Fonts & Materials/LiberationSans SDF - Fallback.asset
  client/OkeyClient/ProjectSettings/ProjectSettings.asset
  client/OkeyClient/ProjectSettings/TagManager.asset
Due: unity-linux-test, unity-mac-test, unity-windows-test, unity-linux-local-test, unity-mac-local-test, unity-windows-local-test, unity-linux-release, unity-mac-release, unity-windows-release

Resizing des éléments selected. Rajout de l'outline du timer
  client/OkeyClient/Assets/Level/Scenes/PlateauInit.unity
Due: unity-linux-test, unity-mac-test, unity-windows-test, unity-linux-local-test, unity-mac-local-test, unity-windows-local-test, unity-linux-release, unity-mac-release, unity-windows-release

Tentative de correction pour l'erreur de connexion.
  client/OkeyClient/Assets/Code/Scripts/PageAccueil/PageConnexion/CreateAccountScreen.cs
  client/OkeyClient/Assets/Code/Scripts/PageAccueil/UIManagerPAcceuil.cs
  client/OkeyClient/Assets/Level/Scenes/Acceuil.unity
Due: unity-linux-test, unity-mac-test, unity-windows-test, unity-linux-local-test, unity-mac-local-test, unity-windows-local-test, unity-linux-release, unity-mac-release, unity-windows-release

Resizing page accueil
  client/OkeyClient/Assets/TextMesh Pro/Resources/Fonts & Materials/LiberationSans SDF - Fallback.asset
Due: unity-linux-test, unity-mac-test, unity-windows-test, unity-linux-local-test, unity-mac-local-test, unity-windows-local-test, unity-linux-release, unity-mac-release, unity-windows-release

Resizing page accueil
  client/OkeyClient/Assets/Level/Scenes/Acceuil.unity
Due: unity-linux-test, unity-mac-test, unity-windows-test, unity-linux-local-test, unity-mac-local-test, unity-windows-local-test, unity-linux-release, unity-mac-release, unity-windows-release

Premiers ajouts des rooms privees
  server/OkeyServer/Hubs/OkeyHub.cs
  server/OkeyServer/Lobby/IRoomManager.cs
  server/OkeyServer/Lobby/RoomManager.cs
Due: docker-server

Ajout d'envoi d'informations
  server/OkeyServer/Hubs/OkeyHub.cs
Due: docker-server

Ajout de logique en cas de fin de partie privee
  server/OkeyServer/Hubs/OkeyHub.cs
  server/OkeyServer/Lobby/RoomManager.cs
Due: docker-server

Ajout de petits moyens de debugs
  server/OkeyServer/Hubs/OkeyHub.cs
Due: docker-server

Autres debugs necessaires
  server/OkeyServer/Hubs/OkeyHub.cs
Due: docker-server

Autres debugs necessaires
  server/OkeyServer/Hubs/OkeyHub.cs
  server/OkeyServer/Lobby/RoomManager.cs
Due: docker-server

Ajout d'un premier support des parties privees
  client/OkeyClient/Assets/Code/Scripts/LobbyManager.cs
  client/OkeyClient/Assets/Code/Scripts/SelectionTypeJeu/DisplayRooms.cs
  client/OkeyClient/Assets/Code/Scripts/SelectionTypeJeu/UIManagerPFormulaire.cs
  client/OkeyClient/Assets/Code/Scripts/SignalR/SignalRConnector.cs
  client/OkeyClient/Assets/Level/Scenes/SelectionTypeJeu.unity
Due: unity-linux-test, unity-mac-test, unity-windows-test, unity-linux-local-test, unity-mac-local-test, unity-windows-local-test, unity-linux-release, unity-mac-release, unity-windows-release

Envoi de code de room pour affichage
  server/OkeyServer/Hubs/OkeyHub.cs
  server/OkeyServer/Packets/Signals/RoomState.cs
Due: docker-server

Support complet de la creation + join de room
  client/OkeyClient/Assets/Code/Scripts/SignalR/Packets/Rooms/RoomState.cs
  client/OkeyClient/Assets/Code/Scripts/SignalR/SignalRConnector.cs
Due: unity-linux-test, unity-mac-test, unity-windows-test, unity-linux-local-test, unity-mac-local-test, unity-windows-local-test, unity-linux-release, unity-mac-release, unity-windows-release

Support du join de room privees (to test)
  client/OkeyClient/Assets/Code/Scripts/SelectionTypeJeu/DisplayRooms.cs
  client/OkeyClient/Assets/Level/Scenes/SelectionTypeJeu.unity
Due: unity-linux-test, unity-mac-test, unity-windows-test, unity-linux-local-test, unity-mac-local-test, unity-windows-local-test, unity-linux-release, unity-mac-release, unity-windows-release

Support du join de room privees
  server/OkeyServer/Hubs/OkeyHub.cs
Due: docker-server

player ordered list tryout
  client/OkeyClient/Assets/Code/Scripts/LobbyManager.cs
  client/OkeyClient/Assets/Code/Scripts/LogiqueJeu/Timer.cs
  client/OkeyClient/Assets/Code/Scripts/SignalR/SignalRConnector.cs
Due: unity-linux-test, unity-mac-test, unity-windows-test, unity-linux-local-test, unity-mac-local-test, unity-windows-local-test, unity-linux-release, unity-mac-release, unity-windows-release

petit fix de typo
  client/OkeyClient/Assets/Code/Scripts/LobbyManager.cs
  client/OkeyClient/Assets/Code/Scripts/SignalR/SignalRConnector.cs
Due: unity-linux-test, unity-mac-test, unity-windows-test, unity-linux-local-test, unity-mac-local-test, unity-windows-local-test, unity-linux-release, unity-mac-release, unity-windows-release

Fix d
  client/OkeyClient/Assets/Code/Scripts/SignalR/SignalRConnector.cs
Due: unity-linux-test, unity-mac-test, unity-windows-test, unity-linux-local-test, unity-mac-local-test, unity-windows-local-test, unity-linux-release, unity-mac-release, unity-windows-release

Dernier fix de bug de joining room
  client/OkeyClient/Assets/Code/Scripts/SignalR/SignalRConnector.cs
Due: unity-linux-test, unity-mac-test, unity-windows-test, unity-linux-local-test, unity-mac-local-test, unity-windows-local-test, unity-linux-release, unity-mac-release, unity-windows-release

Effacement de plusieurs rooms en trop
  server/OkeyServer/Lobby/RoomManager.cs
Due: docker-server

Ajout de musique
  client/OkeyClient/Assets/Art/UIAssets/BackgroundImages/OkeySplashScreen.jpeg
  client/OkeyClient/Assets/Art/UIAssets/BackgroundImages/OkeySplashScreen.jpeg.meta
  client/OkeyClient/Assets/Art/UIAssets/BackgroundImages/okey.jpeg
  client/OkeyClient/Assets/Art/UIAssets/BackgroundImages/okey.jpeg.meta
  client/OkeyClient/Assets/Art/UIAssets/other/Musique (online-audio-converter.com).wav
  client/OkeyClient/Assets/Art/UIAssets/other/Musique (online-audio-converter.com).wav.meta
  client/OkeyClient/Assets/Art/UIAssets/other/Y2meta.app - Pizzicato Playtime - Comedy Background Music (HD) (128 kbps).wav
  client/OkeyClient/Assets/Art/UIAssets/other/Y2meta.app - Pizzicato Playtime - Comedy Background Music (HD) (128 kbps).wav.meta
  client/OkeyClient/Assets/Level/Scenes/Acceuil.unity
  client/OkeyClient/Assets/Level/Scenes/PlateauInit.unity
  client/OkeyClient/Assets/TextMesh Pro/Resources/Fonts & Materials/LiberationSans SDF - Fallback.asset
Due: unity-linux-test, unity-mac-test, unity-windows-test, unity-linux-local-test, unity-mac-local-test, unity-windows-local-test, unity-linux-release, unity-mac-release, unity-windows-release

ajout de son pour les boutons
  client/OkeyClient/Assets/Art/UIAssets/other/BoutonEffect.wav
  client/OkeyClient/Assets/Art/UIAssets/other/BoutonEffect.wav.meta
  client/OkeyClient/Assets/Art/UIAssets/other/Musique2.wav
  client/OkeyClient/Assets/Art/UIAssets/other/Musique2.wav.meta
  client/OkeyClient/Assets/Code/Scripts/PageAccueil/Sound.meta
  client/OkeyClient/Assets/Code/Scripts/PageAccueil/Sound/ButtonClickSound.cs
  client/OkeyClient/Assets/Code/Scripts/PageAccueil/Sound/ButtonClickSound.cs.meta
  client/OkeyClient/Assets/Level/Scenes/Acceuil.unity
Due: unity-linux-test, unity-mac-test, unity-windows-test, unity-linux-local-test, unity-mac-local-test, unity-windows-local-test, unity-linux-release, unity-mac-release, unity-windows-release

quelque modif
  client/OkeyClient/Assets/Level/Scenes/PlateauInit.unity
Due: unity-linux-test, unity-mac-test, unity-windows-test, unity-linux-local-test, unity-mac-local-test, unity-windows-local-test, unity-linux-release, unity-mac-release, unity-windows-release

Remise en l'état de la scène plateau
  client/OkeyClient/Assets/Level/Scenes/PlateauInit.unity
Due: unity-linux-test, unity-mac-test, unity-windows-test, unity-linux-local-test, unity-mac-local-test, unity-windows-local-test, unity-linux-release, unity-mac-release, unity-windows-release

Retour à la version de plateauinit sans resizing
  client/OkeyClient/Assets/Level/Prefabs/ChevaletBack.prefab
  client/OkeyClient/Assets/Level/Prefabs/ChevaletFront.prefab
  client/OkeyClient/Assets/Level/Scenes/PlateauInit.unity
Due: unity-linux-test, unity-mac-test, unity-windows-test, unity-linux-local-test, unity-mac-local-test, unity-windows-local-test, unity-linux-release, unity-mac-release, unity-windows-release

Revert "Resizing de la scène plateau init et modification de panel de confirmation"
  client/OkeyClient/Assets/Art/UIAssets/Buttons/ButtonQuit.png
  client/OkeyClient/Assets/Art/UIAssets/Buttons/ButtonQuit.png.meta
  client/OkeyClient/Assets/TextMesh Pro/Resources/Fonts & Materials/LiberationSans SDF - Fallback.asset
  client/OkeyClient/ProjectSettings/ProjectSettings.asset
  client/OkeyClient/ProjectSettings/TagManager.asset
Due: unity-linux-test, unity-mac-test, unity-windows-test, unity-linux-local-test, unity-mac-local-test, unity-windows-local-test, unity-linux-release, unity-mac-release, unity-windows-release

Revert "Resizing page accueil"
  client/OkeyClient/Assets/TextMesh Pro/Resources/Fonts & Materials/LiberationSans SDF - Fallback.asset
Due: unity-linux-test, unity-mac-test, unity-windows-test, unity-linux-local-test, unity-mac-local-test, unity-windows-local-test, unity-linux-release, unity-mac-release, unity-windows-release

Revert "Resizing page accueil"
  client/OkeyClient/Assets/Level/Scenes/Acceuil.unity
Due: unity-linux-test, unity-mac-test, unity-windows-test, unity-linux-local-test, unity-mac-local-test, unity-windows-local-test, unity-linux-release, unity-mac-release, unity-windows-release

Restore files to commit 587a3b97
  client/OkeyClient/Assets/Art/UIAssets/BackgroundImages/OkeySplashScreen.jpeg
  client/OkeyClient/Assets/Art/UIAssets/BackgroundImages/OkeySplashScreen.jpeg.meta
  client/OkeyClient/Assets/Art/UIAssets/BackgroundImages/okey.jpeg
  client/OkeyClient/Assets/Art/UIAssets/BackgroundImages/okey.jpeg.meta
  client/OkeyClient/Assets/Art/UIAssets/other/BoutonEffect.wav
  client/OkeyClient/Assets/Art/UIAssets/other/BoutonEffect.wav.meta
  client/OkeyClient/Assets/Art/UIAssets/other/Musique (online-audio-converter.com).wav
  client/OkeyClient/Assets/Art/UIAssets/other/Musique (online-audio-converter.com).wav.meta
  client/OkeyClient/Assets/Art/UIAssets/other/Musique2.wav
  client/OkeyClient/Assets/Art/UIAssets/other/Musique2.wav.meta
  client/OkeyClient/Assets/Code/Scripts/LobbyManager.cs
  client/OkeyClient/Assets/Code/Scripts/LogiqueJeu/Timer.cs
  client/OkeyClient/Assets/Code/Scripts/PageAccueil/PageConnexion/CreateAccountScreen.cs
  client/OkeyClient/Assets/Code/Scripts/PageAccueil/Sound.meta
  client/OkeyClient/Assets/Code/Scripts/PageAccueil/Sound/ButtonClickSound.cs
  client/OkeyClient/Assets/Code/Scripts/PageAccueil/Sound/ButtonClickSound.cs.meta
  client/OkeyClient/Assets/Code/Scripts/PageAccueil/UIManagerPAcceuil.cs
  client/OkeyClient/Assets/Code/Scripts/SelectionTypeJeu/DisplayRooms.cs
  client/OkeyClient/Assets/Code/Scripts/SelectionTypeJeu/UIManagerPFormulaire.cs
  client/OkeyClient/Assets/Code/Scripts/SignalR/Packets/Rooms/RoomState.cs
  client/OkeyClient/Assets/Code/Scripts/SignalR/SignalRConnector.cs
  client/OkeyClient/Assets/Level/Scenes/Acceuil.unity
  client/OkeyClient/Assets/Level/Scenes/SelectionTypeJeu.unity
  client/OkeyClient/Assets/TextMesh Pro/Resources/Fonts & Materials/LiberationSans SDF - Fallback.asset
Due: unity-linux-test, unity-mac-test, unity-windows-test, unity-linux-local-test, unity-mac-local-test, unity-windows-local-test, unity-linux-release, unity-mac-release, unity-windows-release

Modification du Panel pour quitter la partie
  client/OkeyClient/Assets/Art/UIAssets/Buttons/ButtonQuit.png
  client/OkeyClient/Assets/Art/UIAssets/Buttons/ButtonQuit.png.meta
  client/OkeyClient/Assets/Level/Scenes/PlateauInit.unity
Due: unity-linux-test, unity-mac-test, unity-windows-test, unity-linux-local-test, unity-mac-local-test, unity-windows-local-test, unity-linux-release, unity-mac-release, unity-windows-release

Ajout de l'envoi de code de partie
  server/OkeyServer/Hubs/OkeyHub.cs
Due: docker-server

Start work on adding Android builds for Unity
  .gitlab-ci.yml
  client/OkeyClient/Assets/Editor/Builders/Builder.cs
Due: unity-linux-test, unity-mac-test, unity-windows-test, unity-linux-local-test, unity-mac-local-test, unity-windows-local-test, unity-linux-release, unity-mac-release, unity-windows-release

Path conditions:
  docker-ci: any of: docker/CICD.Dockerfile, requirements.txt, .config/dotnet-tools.json
  docker-api: any of: docker/OkeyApi.Dockerfile, server/OkeyApi/**/*.cs, server/OkeyApi/appsettings*.json, server/OkeyApi/**/launchSettings.json, server/OkeyApi/*.csproj, server/OkeyApi/*.sln
  docker-server: any of: docker/OkeyServer.Dockerfile, server/OkeyServer/**/*.cs, server/OkeyServer/*.csproj, server/OkeyServer/*.sln
  docker-db-init: any of: docker/DB-Init.Dockerfile, server/OkeyApi/**/*.cs, server/OkeyApi/appsettings*.json, server/OkeyApi/**/launchSettings.json, server/OkeyApi/*.csproj, server/OkeyApi/*.sln
  docker-website: any of: docker/OkeyWebsite.Dockerfile, server/okeywebsite/new_app/**/*
  unity-linux-test: any of: client/OkeyClient/**/*
  unity-mac-test: any of: client/OkeyClient/**/*
  unity-windows-test: any of: client/OkeyClient/**/*
  unity-linux-local-test: any of: client/OkeyClient/**/*
  unity-mac-local-test: any of: client/OkeyClient/**/*
  unity-windows-local-test: any of: client/OkeyClient/**/*
  unity-linux-release: any of: client/OkeyClient/**/*
  unity-mac-release: any of: client/OkeyClient/**/*
  unity-windows-release: any of: client/OkeyClient/**/*
