Repository MedChahb/Okey: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker-ci, docker-api, docker-server

docker-ci:
  image:
    name: gcr.io/kaniko-project/executor:v1.21.1-debug
    entrypoint:
    - ''
  stage: build
  variables:
    IMAGE_NAME: projet-integrateur-cicd
  before_script:
  ...

docker-api:
  image:
    name: gcr.io/kaniko-project/executor:v1.21.1-debug
    entrypoint:
    - ''
  stage: build
  variables:
    IMAGE_NAME: okeyapi
  before_script:
  ...

docker-server:
  image:
    name: gcr.io/kaniko-project/executor:v1.21.1-debug
    entrypoint:
    - ''
  stage: build
  variables:
    IMAGE_NAME: okeyserver
  before_script:
  ...

GL-14: Add classes to model players for the front-end
  client/OkeyClient/Assets/Code/Scripts/LogiqueJeu.meta
  client/OkeyClient/Assets/Code/Scripts/LogiqueJeu/Achievement.cs
  client/OkeyClient/Assets/Code/Scripts/LogiqueJeu/Achievement.cs.meta
  client/OkeyClient/Assets/Code/Scripts/LogiqueJeu/EtatTourInterne.cs
  client/OkeyClient/Assets/Code/Scripts/LogiqueJeu/EtatTourInterne.cs.meta
  client/OkeyClient/Assets/Code/Scripts/LogiqueJeu/GameJoueur.cs
  client/OkeyClient/Assets/Code/Scripts/LogiqueJeu/GameJoueur.cs.meta
  client/OkeyClient/Assets/Code/Scripts/LogiqueJeu/GenericJoueur.cs
  client/OkeyClient/Assets/Code/Scripts/LogiqueJeu/GenericJoueur.cs.meta
  client/OkeyClient/Assets/Code/Scripts/LogiqueJeu/IInGameJoueur.cs
  client/OkeyClient/Assets/Code/Scripts/LogiqueJeu/IInGameJoueur.cs.meta
  client/OkeyClient/Assets/Code/Scripts/LogiqueJeu/ISelfJoueur.cs
  client/OkeyClient/Assets/Code/Scripts/LogiqueJeu/ISelfJoueur.cs.meta
  client/OkeyClient/Assets/Code/Scripts/LogiqueJeu/InGameJoueur.cs
  client/OkeyClient/Assets/Code/Scripts/LogiqueJeu/InGameJoueur.cs.meta
  client/OkeyClient/Assets/Code/Scripts/LogiqueJeu/Joueur.cs
  client/OkeyClient/Assets/Code/Scripts/LogiqueJeu/Joueur.cs.meta
  client/OkeyClient/Assets/Code/Scripts/LogiqueJeu/SelfJoueur.cs
  client/OkeyClient/Assets/Code/Scripts/LogiqueJeu/SelfJoueur.cs.meta
  client/OkeyClient/Assets/Level/Scenes/Plateau.unity
  client/OkeyClient/Packages/manifest.json
  client/OkeyClient/Packages/packages-lock.json
  client/OkeyClient/ProjectSettings/ShaderGraphSettings.asset
Due: none

Fix wrong warnings made by C# analyzers
  .editorconfig
Due: none

Minor improvement to the CI config
  .gitlab-ci.yml
Due: none

GL-14: Make design of player classes more straightforward
  client/OkeyClient/Assets/Code/Scripts/LogiqueJeu/Chevalet.cs
  client/OkeyClient/Assets/Code/Scripts/LogiqueJeu/Chevalet.cs.meta
  client/OkeyClient/Assets/Code/Scripts/LogiqueJeu/Emote.cs
  client/OkeyClient/Assets/Code/Scripts/LogiqueJeu/Emote.cs.meta
  client/OkeyClient/Assets/Code/Scripts/LogiqueJeu/EtatTourInterne.cs
  client/OkeyClient/Assets/Code/Scripts/LogiqueJeu/GameJoueur.cs
  client/OkeyClient/Assets/Code/Scripts/LogiqueJeu/IInGameJoueur.cs
  client/OkeyClient/Assets/Code/Scripts/LogiqueJeu/ISelfJoueur.cs
  client/OkeyClient/Assets/Code/Scripts/LogiqueJeu/InGameJoueur.cs
  client/OkeyClient/Assets/Code/Scripts/LogiqueJeu/Joueur.meta
  client/OkeyClient/Assets/Code/Scripts/LogiqueJeu/Joueur/EtatTourJoueur.cs
  client/OkeyClient/Assets/Code/Scripts/LogiqueJeu/Joueur/EtatTourJoueur.cs.meta
  client/OkeyClient/Assets/Code/Scripts/LogiqueJeu/Joueur/GameJoueur.cs
  client/OkeyClient/Assets/Code/Scripts/LogiqueJeu/Joueur/GameJoueur.cs.meta
  client/OkeyClient/Assets/Code/Scripts/LogiqueJeu/Joueur/GenericJoueur.cs
  client/OkeyClient/Assets/Code/Scripts/LogiqueJeu/Joueur/GenericJoueur.cs.meta
  client/OkeyClient/Assets/Code/Scripts/LogiqueJeu/Joueur/Interfaces.meta
  client/OkeyClient/Assets/Code/Scripts/LogiqueJeu/Joueur/Interfaces/IGameJoueur.cs
  client/OkeyClient/Assets/Code/Scripts/LogiqueJeu/Joueur/Interfaces/IGameJoueur.cs.meta
  client/OkeyClient/Assets/Code/Scripts/LogiqueJeu/Joueur/Interfaces/ISelfJoueur.cs
  client/OkeyClient/Assets/Code/Scripts/LogiqueJeu/Joueur/Interfaces/ISelfJoueur.cs.meta
  client/OkeyClient/Assets/Code/Scripts/LogiqueJeu/Joueur/Joueur.cs
  client/OkeyClient/Assets/Code/Scripts/LogiqueJeu/Joueur/Joueur.cs.meta
  client/OkeyClient/Assets/Code/Scripts/LogiqueJeu/Joueur/SelfGameJoueur.cs
  client/OkeyClient/Assets/Code/Scripts/LogiqueJeu/Joueur/SelfGameJoueur.cs.meta
  client/OkeyClient/Assets/Code/Scripts/LogiqueJeu/Joueur/SelfJoueur.cs
  client/OkeyClient/Assets/Code/Scripts/LogiqueJeu/Joueur/SelfJoueur.cs.meta
  client/OkeyClient/Assets/Code/Scripts/LogiqueJeu/Pile.cs
  client/OkeyClient/Assets/Code/Scripts/LogiqueJeu/Pile.cs.meta
  client/OkeyClient/Assets/Code/Scripts/LogiqueJeu/Timer.cs
  client/OkeyClient/Assets/Code/Scripts/LogiqueJeu/Timer.cs.meta
Due: none

GL-14: Remove placeholder class to use Yasmina's instead
  client/OkeyClient/Assets/Code/Scripts/LogiqueJeu/Chevalet.cs
  client/OkeyClient/Assets/Code/Scripts/LogiqueJeu/Chevalet.cs.meta
Due: none

Exclude .meta and .unity files from end of file fixer hook
  .pre-commit-config.yaml
Due: none

Exclude Unity .prefab files from pre-commit formatter hooks
  .pre-commit-config.yaml
Due: none

Format files
  client/OkeyClient/Assets/Code/Scripts/Chevalet.cs
  client/OkeyClient/Assets/Code/Scripts/PageConnexion.cs
  client/OkeyClient/Assets/Code/Scripts/Tuile.cs
Due: none

Ignore another Unity file for git hooks
  .pre-commit-config.yaml
Due: none

Fix before-after script in CI config
  .gitlab-ci.yml
Due: none

Add dotnet-ef as dotnet tool dependency
  .config/dotnet-tools.json
Due: docker-ci

GL-12: Fix inaccessible API when inside docker
  server/OkeyApi/appsettings.json
Due: docker-api

GL-15: Correction des warnings: references inutiles; references a null.
  server/OkeyApi/Controllers/AccountController.cs
  server/OkeyApi/Controllers/AchievementsController.cs
  server/OkeyApi/Controllers/ClassementController.cs
  server/OkeyApi/Data/ApplicationDBContext.cs
  server/OkeyApi/Dtos/Achievements/AchievementDto.cs
  server/OkeyApi/Dtos/Achievements/CreateAchievementsDto.cs
  server/OkeyApi/Mappers/AchievementsMapper.cs
  server/OkeyApi/Models/Achievements.cs
  server/OkeyApi/Program.cs
  server/OkeyApi/Repository/AchievementsRepository.cs
  server/OkeyApi/Repository/UtilisateurRepository.cs
  server/OkeyApi/Service/TokenService.cs
Due: docker-api

GL-1: Conform scenes to 2D and remove leftover 3D settings
  client/OkeyClient/Assets/Level/Scenes/PageAcceuil.unity
  client/OkeyClient/Assets/Level/Scenes/PageFormulaireDeConfiguration.unity
Due: none

Avancement sur le déplacement des tuiles sur le chevalet
  client/OkeyClient/.vsconfig
  client/OkeyClient/Assets/Code/Scripts/Chevalet.cs
  client/OkeyClient/Assets/Code/Scripts/PageConnexion.cs
  client/OkeyClient/Assets/Code/Scripts/Tuile.cs
  client/OkeyClient/Assets/Level/Prefabs/ChevaletFront.prefab
  client/OkeyClient/Assets/Level/Scenes/Plateau.unity
Due: none

Déplacement des pièces sur le chevalet entièrement fonctionnel
  client/OkeyClient/Assets/Code/Scripts/Plateau/Chevalet.cs
  client/OkeyClient/Assets/Code/Scripts/Plateau/Tuile.cs
  client/OkeyClient/Assets/Level/Scenes/Plateau.unity
Due: none

GL-15: Modification du port necessaire en production
  server/OkeyApi/Properties/launchSettings.json
Due: docker-api

GL-15: Mise a jour du paquet Microsoft.CodeAnalysis.Common
  server/OkeyApi/OkeyApi.csproj
Due: docker-api

Fix manuel de la librairie Microsoft.CodeAnalysis.Common a la version normalisee 4.5.0
  server/OkeyApi/OkeyApi.csproj
Due: docker-api

j'ai organiser le travaille du Plateau
  client/OkeyClient/Assets/Art/Materials.meta
  client/OkeyClient/Assets/Art/Materials/2.png
  client/OkeyClient/Assets/Art/Materials/2.png.meta
  client/OkeyClient/Assets/Art/Materials/androgynous-avatar-non-binary-queer-person.jpg
  client/OkeyClient/Assets/Art/Materials/androgynous-avatar-non-binary-queer-person.jpg.meta
  client/OkeyClient/Assets/Art/Materials/portrait-handsome-hipster-man-glasses-3d-rendering.jpg
  client/OkeyClient/Assets/Art/Materials/portrait-handsome-hipster-man-glasses-3d-rendering.jpg.meta
  client/OkeyClient/Assets/Button clicked .asset
  client/OkeyClient/Assets/Button clicked .asset.meta
  client/OkeyClient/Assets/Code/Scripts/Confirmation.meta
  client/OkeyClient/Assets/Code/Scripts/Plateau/Plateau2.cs
  client/OkeyClient/Assets/Code/Scripts/Plateau/Plateau2.cs.meta
  client/OkeyClient/Assets/Level/Prefabs/DefausseHolder2.prefab
  client/OkeyClient/Assets/Level/Prefabs/DefausseHolder2.prefab.meta
  client/OkeyClient/Assets/Level/Prefabs/chevalet1.prefab
  client/OkeyClient/Assets/Level/Prefabs/chevalet1.prefab.meta
  client/OkeyClient/Assets/Level/Scenes/Main.unity
  client/OkeyClient/Assets/Level/Scenes/PageInformation 1.unity
  client/OkeyClient/Assets/Level/Scenes/PageInformation 1.unity.meta
  client/OkeyClient/Assets/Level/Scenes/Plateau.unity
  client/OkeyClient/Assets/Level/Scenes/plateau 1.unity
  client/OkeyClient/Assets/Level/Scenes/plateau 1.unity.meta
  client/OkeyClient/Assets/Retour.cs
  client/OkeyClient/Assets/Retour.cs.meta
  client/OkeyClient/Assets/button.asset
  client/OkeyClient/Assets/button.asset.meta
  client/OkeyClient/ProjectSettings/EditorBuildSettings.asset
  client/OkeyClient/ProjectSettings/Packages/com.unity.muse.common/Settings.json
  client/OkeyClient/ProjectSettings/StyleTrainerProjectData.asset
Due: none

#11 Modification de la scène pour en faire un menu, ajout d'un bouton pour y accèder depuis l'accueil, script pour le menu
  client/OkeyClient/Assets/Code/Scripts/PageAcceuil/PageConnexion.meta
  client/OkeyClient/Assets/Code/Scripts/PageAcceuil/PageConnexion/LogInScreen.cs
  client/OkeyClient/Assets/Code/Scripts/PageAcceuil/PageConnexion/LogInScreen.cs.meta
  client/OkeyClient/Assets/Code/Scripts/PageAcceuil/UIManagerPAcceuil.cs
  client/OkeyClient/Assets/Level/Scenes/Acceuil.unity
  client/OkeyClient/Assets/Level/Scenes/CreateAccount.unity
  client/OkeyClient/Assets/Level/Scenes/CreateAccount.unity.meta
Due: none

modification de la page d'accueil pour afficher l'avatar une fois connecter
  client/OkeyClient/Assets/Art/UIAssets/OnScreenControls/Sprites/2002403-homme-avec-barbe-avatar-personnage-icone-isole-gratuit-vectoriel.jpg
  client/OkeyClient/Assets/Art/UIAssets/OnScreenControls/Sprites/2002403-homme-avec-barbe-avatar-personnage-icone-isole-gratuit-vectoriel.jpg.meta
  client/OkeyClient/Assets/Code/Scripts/PageAcceuil/AvatarPanelGear.cs
  client/OkeyClient/Assets/Code/Scripts/PageAcceuil/AvatarPanelGear.cs.meta
  client/OkeyClient/Assets/Code/Scripts/PageAcceuil/PageConnexion/LogInScreen.cs
  client/OkeyClient/Assets/Code/Scripts/PageAcceuil/UIManagerPAcceuil.cs
  client/OkeyClient/Assets/Level/Scenes/Acceuil.unity
  client/OkeyClient/Assets/Level/Scenes/Confirmation.unity
  client/OkeyClient/Assets/Level/Scenes/Confirmation.unity.meta
  client/OkeyClient/Assets/Level/Scenes/plateau 1.unity
  client/OkeyClient/Assets/TextMesh Pro/Resources/Fonts & Materials/LiberationSans SDF - Drop Shadow.mat
  client/OkeyClient/ProjectSettings/EditorBuildSettings.asset
Due: none

Fix CI test 1
  .gitlab-ci.yml
Due: none

Tweak Unity project settings
  client/OkeyClient/ProjectSettings/ProjectSettings.asset
  client/OkeyClient/ProjectSettings/TimelineSettings.asset
Due: none

GL-12: Ajout du Dockerfile pour l'API
  docker/OkeyApi.Dockerfile
Due: docker-api

GL-12: Ajout du Dockerfile pour le serveur
  docker/OkeyServer.Dockerfile
Due: docker-server

GL-12: Overall improvements and additions
  .gitlab-ci.yml
  docker/.gitignore
  docker/Makefile
  docker/OkeyApi.Dockerfile
  docker/OkeyServer.Dockerfile
  docker/README.md
Due: docker-api, docker-server

renommer les fichier et supprimer les image en materiels
  client/OkeyClient/Assets/Art/Materials/2.png
  client/OkeyClient/Assets/Art/Materials/2.png.meta
  client/OkeyClient/Assets/Art/Materials/androgynous-avatar-non-binary-queer-person.jpg
  client/OkeyClient/Assets/Art/Materials/androgynous-avatar-non-binary-queer-person.jpg.meta
  client/OkeyClient/Assets/Art/Materials/portrait-handsome-hipster-man-glasses-3d-rendering.jpg
  client/OkeyClient/Assets/Art/Materials/portrait-handsome-hipster-man-glasses-3d-rendering.jpg.meta
  client/OkeyClient/Assets/Code/Scripts/Confirmation.meta
  client/OkeyClient/Assets/Level/Scenes/Confirmation.unity
  client/OkeyClient/Assets/Level/Scenes/Confirmation.unity.meta
  client/OkeyClient/Assets/Level/Scenes/Information.unity
  client/OkeyClient/Assets/Level/Scenes/Information.unity.meta
  client/OkeyClient/Assets/Level/Scenes/PageInformation 1.unity
  client/OkeyClient/Assets/Level/Scenes/PageInformation 1.unity.meta
  client/OkeyClient/Assets/Level/Scenes/PlateauInit.unity
  client/OkeyClient/Assets/Level/Scenes/PlateauInit.unity.meta
  client/OkeyClient/Assets/Retour.cs
  client/OkeyClient/Assets/Retour.cs.meta
  client/OkeyClient/ProjectSettings/EditorBuildSettings.asset
Due: none

GL-14: Supprimer l'objet Joueur
  client/OkeyClient/Assets/Code/Scripts/Confirmation.meta
  client/OkeyClient/Assets/Level/Scenes/Plateau.unity
Due: none

Page D'information fini
  client/OkeyClient/Assets/Code/Scripts/PageAcceuil/AvatarPanelGear.cs
  client/OkeyClient/Assets/Level/Prefabs/BtnRetourParam.prefab
  client/OkeyClient/Assets/Level/Prefabs/BtnRetourParam.prefab.meta
  client/OkeyClient/Assets/Level/Scenes/Acceuil.unity
  client/OkeyClient/Assets/Level/Scenes/PlateauInit.unity
Due: none

Boutton deconnexion
  client/OkeyClient/Assets/Code/Scripts/PageAcceuil/AvatarPanelGear.cs
  client/OkeyClient/Assets/Level/Scenes/Acceuil.unity
Due: none

Path conditions:
  docker-ci: any of: docker/Dockerfile, requirements.txt, .config/dotnet-tools.json
  docker-api: any of: docker/OkeyApi.Dockerfile, server/OkeyApi/**/*.cs, server/OkeyApi/appsettings*.json, server/OkeyApi/**/launchSettings.json, server/OkeyApi/*.csproj, server/OkeyApi/*.sln
  docker-server: any of: docker/OkeyServer.Dockerfile, server/OkeyServer/**/*.cs, server/OkeyServer/*.csproj, server/OkeyServer/*.sln
